* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightskyblue;
}

.reset{
    position: absolute;
    top: 2rem;
}

.reset > * {
    display: none;
    font-size: 1.5rem;
    padding: 1em;
    border: 0;
    box-shadow: 2px 2px 3px 0 #2e2e2e;
    background: #3dcdac;
    color: #eee;
    cursor: pointer;
    outline: 0;
    border-radius: 10px;
}

.reset > *:hover {
    filter: brightness(90%);
}

.result{
    display: none;
    position: absolute;
    top: calc(5rem + 3rem);
}

.result > *{
    color: lightseagreen;
}

.board{
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squares{
    display: grid;
    grid: auto / repeat(3, 1fr);
    max-width: 100%;
    gap: 2ch;
    padding: .5em;
    outline: 1ch solid deeppink;
}

.squares > * {
    width: 100%;
    max-width: 10ch;
    padding: 2em;
    background: lightslategrey;
    color: whitesmoke;
}

.squares > *:hover{
    filter: brightness(110%);
}